<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  
    <add key="mySQLConnectionString" value="server=localhost;User Id=root;database=rock;Persist Security Info=True" />

  
    <!--要运行的Jmeter .bat文件-->
    <add key="JMeterCmdFile" value="D:\apache-jmeter-2.9\bin\jmeter.bat" />
    <!--用例名-->
    <add key="AppName" value="AllenTest" />
    <!--.jmx快捷方式存放的文件夹。文件夹内可以放多个.jmx文件-->
    <add key="JMeterInputFileFolder" value="C:\temp\new" />
    <!--Jmeter输出文件目录。可随意设置为本地机器上的文件夹-->
    <add key="JmeterOutputFolder" value="C:\temp" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for 

MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.3.5.0, Culture=neutral, 

PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=10.24.177.135;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=sa;Password=1qaz" providerName="System.Data.SqlClient" />
    <add name="rockEntities" connectionString="metadata=res://*/rock.csdl|res://*/rock.ssdl|res://*/rock.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=rock;Persist Security Info=True;Convert Zero Datetime=True;charset=utf8;&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="RollOverTraceListener.RollOverTextWriter,RollOverTraceListener, Version=1.0.0.0, 

Culture=neutral, PublicKeyToken=null" initializeData="trace.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>

    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="TestTeam" name="AspNetSqlRoleProvider"

type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"

/>
      </providers>
    </roleManager>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider"

connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true"

requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6"

minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="TestTeam" />
      </providers>
    </membership>
  </system.web>
</configuration>
